@model Grade
@{
    ViewData["Title"] = "Add Grade";
}
<div class="text-center">
    <h1 class="display-4">Add Grade</h1>
</div>
<form asp-controller="Grade" asp-action="CreateGrade" method="post">

    <div class="mb-3">
        <label for="student" class="form-label">Student Registration Number</label>
        <input type="text" asp-for="student.registrationNumber" class="form-control" placeholder="Enter the student's registration number">
    </div>

    <div class="mb-3">
        <label for="course" class="form-label">Course</label>
        <input type="text" asp-for="course.name" class="form-control" placeholder="Enter course">
    </div>

    <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" asp-for="subject.name" class="form-control" placeholder="Enter subject">
    </div>

    <div class="mb-3">
        <label for="teacher" class="form-label">Teacher</label>
        <input type="text" asp-for="teacher.name" class="form-control" placeholder="Enter the teacher's name">
    </div>

    <div class="mb-3">
        <label for="record" class="form-label">Grade</label>
        <input type="number" asp-for="record" class="form-control" placeholder="Enter grade">
    </div>
    <button type="submit" class="btn btn-outline-primary btn-block">Add grade</button>
    <a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Grade" asp-action="IndexGrade">Go back</a>

</form>



