@model Subject
@{
    ViewData["Title"] = "Add Subject";
}
<div class="text-center">
    <h1 class="display-4">Add Subject</h1>
</div>
<form asp-controller="Subject" asp-action="CreateSubject" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="name" class="form-control" placeholder="Enter subject name">
    </div>
    <button type="submit" class="btn btn-outline-primary btn-block">Add subject</button>
    <a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Subject" asp-action="IndexSubject">Go back</a>

</form>


