@{
    ViewData["Title"] = "Delete Subject";
}
<div class="text-center">
    <h3>Are you sure you want to delete this subject?</h3>

</div>
<a class="btn btn-outline-primary btn-block" role="button" asp-controller="Subject" asp-action="IndexSubject">Cancel</a>
<a class="btn btn-outline-danger btn-block" role="button">Delete</a>