@{
    ViewData["Title"] = "Edit Subject";
}
<div class="text-center">
    <h1 class="display-4">Edit Subject</h1>
</div>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter subject name">
    </div>
    <label for="course" class="form-label">Course</label><br />
    <select class="form-select" aria-label="Default select example">
        <option selected>Choose a course</option>
        <option value="1">Software Engineering</option>
        <option value="2">Mechanical Engineering</option>
        <option value="3">Human Resources Management</option>
    </select><br /><br />
    <label for="teacher" class="form-label">Teacher</label><br />
    <select class="form-select" aria-label="Default select example">
        <option selected>Choose a teacher</option>
        <option value="1">Mark Smith</option>
        <option value="2">Jacob Thornton</option>
        <option value="3">Elizabeth First</option>
    </select>
    <br /><br />
    <button type="submit" class="btn btn-outline-primary btn-block">Edit subject</button>
    <a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Subject" asp-action="IndexSubject">Go back</a>
</form>



