@model List<Subject>
@{
    ViewData["Title"] = "Subjects";
}
<div class="text-center">
    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-success" role="button" asp-controller="Subject" asp-action="CreateSubject">Add new subject</a>
    </div>
    <br />
    <h1 class="display-4">Subjects List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Teacher</th>
                <th scope="col">Students</th>
                <th scope="col">Grades</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Subject subject in Model)
                {
                    <tr>
                        <th scope="row">@subject.Id</th>
                        <td>@subject.name</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@subject.Id" asp-controller="Subject" asp-action="EditSubject">Edit</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@subject.Id" asp-controller="Subject" asp-action="DeleteSubject">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


