@model Course
@{
    ViewData["Title"] = "Delete Course";
}
<div class="text-center">
    <h3>Are you sure you want to delete @Model.name course?</h3>

</div>
<a class="btn btn-outline-primary btn-block" role="button" asp-controller="Course" asp-action="IndexCourse">Cancel</a>
<a class="btn btn-outline-danger btn-block" role="button" asp-controller="Course" asp-action="Delete">Delete</a>