@model List<Course>
@{
    ViewData["Title"] = "Courses";
}
<div class="text-center">
    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-success" role="button" asp-controller="Course" asp-action="CreateCourse">Add new course</a>
    </div>
    <br />
    <h1 class="display-4">Courses List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Subjects</th>
                <th scope="col">Students</th>
                <th scope="col">Teacher</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Course course in Model)
                {
                    <tr>
                        <th scope="row">@course.Id</th>
                        <td>@course.name</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@course.Id" asp-controller="Course" asp-action="EditCourse">Edit</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@course.Id" asp-controller="Course" asp-action="DeleteCourse">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

