@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome!</h1>
    <h1 class="display-4">Specifications:</h1>
    <p class="lead">Create a college management system that must be able to keep the registration of courses, subjects, teachers and students of a university. Each college course must have multiple subjects, which in turn, contain one teacher and many students. Furthermore, the system must store the name, birthday, and salary of teachers. For the students, it must save the name, birthday, registration number and the student's grade in the subjects enrolled.</p>
    
    <h1 class="display-4">Requisites:</h1>
    <p class="lead">Create a CRUD of the entities (Courses, Subjects, Teacher, Student, Grades)<br />
    List the courses and show the number of teachers, students and average of their grades for each course<br />
    List the subjects and show the teacher information, number of students and their grades for each subject<br />
    List the students and their respective grades of the subject</p>

    <h1 class="display-4">Bonus points:</h1>
    <p class="lead">Use of the best practices and Oriented Object Programming<br />
    Short time to finish and get back to us<br />
    Appearance</p>

    <h1 class="display-4">Architecture:</h1>
    <p class="lead">ASP MVC 5<br />
    SQL Server using Entity Framework 6 and LocalDB<br />
    AngularJS<br />
    SignalR</p>

    <h1 class="display-4">Notes:</h1>
    <p class="lead">
        You have to set up the EF6 to use the LocalDB and initialize it with test data. The environment should be automatically created in the local execution. 
        Example: Use GitHub and send us a link with the source code.
        The solution must include a batch file that when run will build and run the solution.
    </p>
</div>
