@model Student
@{
    ViewData["Title"] = "Edit Student";
}
<div class="text-center">
    <h1 class="display-4">Edit Student</h1>
</div>
<form asp-controller="Student" asp-action="EditStudent" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="name" class="form-control" placeholder="Enter student's name">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Registration Number</label>
        <input type="text" asp-for="registrationNumber" class="form-control" placeholder="Enter student's name">
    </div>
    <div class="mb-3">
        <label for="birthday" class="form-label">Birthday</label>
        <input type="date" asp-for="birthday" class="form-control" placeholder="dd/mm/aaaa">
    </div>

    <button type="submit" class="btn btn-outline-primary btn-block">Edit student</button>
    <a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Student" asp-action="IndexStudent">Go back</a>

</form>


